<div class="nav">
  <%= link_to "New? Register here", new_user_path, class: "nav-link" %>
</div>

<section>
  <p>welcome</p>
</section>

<section>
  <%= form_with model: @user, method: :get do |form| %>
  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email, id: 'email' %>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, id: 'password' %>
  <%= form.submit 'Register' %>
<% end %>
</section>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>